---
import Accordion from '@/components/FAQ/Accordion.astro';
import { APP_STORE_URL, GOOGLE_PLAY_URL, NAV_LINKS, SOCIAL_LINKS } from '@/constants';
import { Trans } from 'astro-i18next/components';
import { localizePath } from 'astro-i18next';
import { t } from 'i18next';
---

<section>
  <h1 class="text-4xl font-bold text-center mb-8">FAQ</h1>
  <div class="space-y-4">
    <Accordion name="q&a" title={t('faq.q&a.0.0')}>
      <Trans i18nKey="faq.q&a.0.1">
        <p>
          SoM is the in app mileage which can be used as currency in the app to purchase items from Marketplace, pay for
          survey registration and eventually convert it to MSOT tokens to withdraw as money.
        </p>
        <em>1SoM= $0.1</em>
        <small class="block">NB: Earned SoMs expire in 6 months</small>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.1.0')}>
      <Trans i18nKey="faq.q&a.1.1">
        <p>
          Signing up for FingeRate is incredibly easy! You can begin your journey by directly registering on the app
          using your email, Kakao account, or Naver Account.
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.2.0')}>
      <Trans i18nKey="faq.q&a.2.1">
        <p>
          With the responses provided by the participants, we analyze it and provide the result to the survey requester.
          The analyzed result can also be seen from FingeRate app.
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.3.0')}>
      <Trans i18nKey="faq.q&a.3.1">
        <p>
          Survey to Earn (S2E) allows users to earn rewards by participating in surveys. It provides an opportunity for
          individuals to share their opinions and insights on various topics and receive compensation in return.
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.4.0')}>
      <Trans i18nKey="faq.q&a.4.1">
        <p>Earning SoM is very easy.</p>
        <ul>
          <li>By entering your additional information (one time)</li>
          <li>By inviting your friends (use your referral code to invite friends)</li>
          <li>By participating in surveys</li>
          <li>Daily attendance check</li>
          <li>Daily survey participation check</li>
        </ul>
        <small>NB: Earned SoMs expire in 6 months</small>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.5.0')}>
      <Trans i18nKey="faq.q&a.5.1">
        <p>User can use their earned SoMs for the following purposes:</p>
        <ul>
          <li>Purchasing avatar accessories from Marketplace</li>
          <li>Purchasing reward/coupons from Marketplace (to be implemented)</li>
          <li>Pay for survey registration</li>
          <li>Swapping SoM with MSOT tokens</li>
        </ul>
        <small>NB: 1SoM=$0.1 Earned SoMs expire in 6 months</small>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.6.0')}>
      <Trans i18nKey="faq.q&a.6.1">
        <p>
          Users can purchase SoM using their credit cards from FingeRate app. Please go to &apos;Wallet&apos; click <em
            >Recharge</em
          > and follow the steps.
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.7.0')}>
      <Trans i18nKey="faq.q&a.7.1">
        <p>
          Users can earn SoM, an in-app mileage which can be used as currency in the app to purchase items from
          Marketplace, pay for survey registration and eventually convert it to MSOT tokens to withdraw as money.
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.8.0')}>
      <Trans i18nKey="faq.q&a.8.1">
        <p>
          GG56 is the driving force behind the development and management of FingeRate and its associated ecosystem. You
          can read more about the company on the <a href="https://gg56.com/" target="_blank" rel="noopener noreferrer"
            >official website</a
          >
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.9.0')}>
      <Trans i18nKey="faq.q&a.9.1">
        <p>Users can create and manage their own surveys directly from FingeRate app!</p>
        <ol>
          <li>On the Survey tab, select the type of survey you want to create</li>
          <li>Choose the number of SoTs and determine the duration of the survey</li>
          <li>
            Decide on the number of participants you want for your survey. You can set a specific limit or leave it
            open-ended
          </li>
          <li>Add your survey questions and pay using SoM!</li>
          <li>Add your survey questions and pay using SoM!</li>
          <li>Add your survey questions and pay using SoM!</li>
        </ol>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.10.0')}>
      <Trans i18nKey="faq.q&a.10.1">
        <p>
          Users can follow us on social media, including <a
            href={SOCIAL_LINKS.INSTAGRAM.href}
            target="_blank"
            rel="noopener noreferrer">Instagram</a
          >, <a href={SOCIAL_LINKS.FACEBOOK.href} target="_blank" rel="noopener noreferrer">Facebook</a>, <a
            href={SOCIAL_LINKS.X.href}
            target="_blank"
            rel="noopener noreferrer">X</a
          >, <a href={SOCIAL_LINKS.TELEGRAM.href} target="_blank" rel="noopener noreferrer">Telegram</a>, and <a
            href={SOCIAL_LINKS.LINKEDIN.href}
            target="_blank"
            rel="noopener noreferrer">LinkedIn</a
          >!
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.11.0')}>
      <Trans i18nKey="faq.q&a.11.1">
        <p>
          FingeRate App is available on <a href={APP_STORE_URL} target="_blank" rel="noopener noreferrer">iOS</a> and <a
            href={GOOGLE_PLAY_URL}
            target="_blank"
            rel="noopener noreferrer">Android</a
          >!
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.12.0')}>
      <Trans i18nKey="faq.q&a.12.1">
        <p>
          For press inquiries regarding FingeRate, users can reach out to us directly at <a
            href="mailto:shokun51@gg56.world">shokun51@gg56.world</a
          > or by using the <a href={localizePath(NAV_LINKS.CONTACT.href)}>contact form</a> available on our website.
        </p>
      </Trans>
    </Accordion>
    <Accordion name="q&a" title={t('faq.q&a.13.0')}>
      <Trans i18nKey="faq.q&a.13.1">
        <p>
          We have implemented robust measures to ensure the security of your information. We maintain a secure
          infrastructure with industry-standard security protocols and utilize encryption techniques to safeguard your
          data during transmission and storage. Our access controls are designed to restrict unauthorized access, and we
          regularly monitor access logs. Whenever possible, we anonymize and aggregate data to protect individual
          identities. We are committed to complying with applicable data protection and privacy regulations, such as
          GDPR, and strive to meet legal requirements for data processing, storage, and sharing.
        </p>
        <p>
          For more detailed information about how we handle your data, please refer to our Privacy Policy. It provides
          comprehensive insights into our data collection, use, and protection practices. Additionally, our Terms of Use
          outline the terms and conditions governing your use of the FingeRate platform. You can access both the <a
            href={NAV_LINKS.PRIVACY.href}>Privacy Policy</a
          > and <a href={localizePath(NAV_LINKS.TERMS.href)}>Terms of Use</a> on our website.
        </p>
        <p>For further inquiries or concerns about data protection, please don't hesitate to contact us.</p>
      </Trans>
    </Accordion>
  </div>
</section>
