---
import img1 from '@/assets/team/hero/1.webp'
import img2 from '@/assets/team/hero/2.jpg'
import img3 from '@/assets/team/hero/3.webp'
import img4 from '@/assets/team/hero/4.webp'
import img5 from '@/assets/team/hero/5.webp'
import img6 from '@/assets/team/hero/6.jpeg'
import img7 from '@/assets/team/hero/7.webp'
import { Image } from 'astro:assets'
import { t } from 'i18next'
---

<section class="mx-auto max-w-screen-xl px-2">
  <div class="text-center mb-8">
    <h1 class="text-5xl font-bold mb-2">{t('team.hero.h1')}</h1>
    <p class="tracking-wide text-cyberLilac text-lg">
      {t('team.hero.p')}
    </p>
  </div>
  <ul class="grid gap-4 md:grid-cols-4 md:grid-rows-[175px_200px_250px] grid-flow-dense">
    <li class="bg-slate-700 overflow-hidden rounded-lg row-span-2">
      <Image
        loading="eager"
        class="object-cover object-left w-full h-full"
        src={img1}
        alt="People interacting with FingeRate Bot during event"
      />
    </li>
    <li class="bg-slate-700 overflow-hidden rounded-lg">
      <Image loading="eager" class="object-cover w-full h-full" src={img2} alt="GG56/FingeRate CEO showing app demo" />
    </li>
    <li class="bg-slate-700 overflow-hidden rounded-lg row-span-2 col-span-2">
      <Image
        loading="eager"
        class="object-cover w-full h-full"
        src={img3}
        alt="Group photo of FingeRate X exhibition visitors and staff"
      />
    </li>
    <li class="bg-slate-700 overflow-hidden rounded-lg">
      <Image loading="eager" class="object-cover w-full h-full" src={img4} alt="FingeRate team doing group activity" />
    </li>
    <li class="bg-slate-700 overflow-hidden rounded-lg">
      <Image
        loading="eager"
        class="object-cover object-left w-full h-full"
        src={img5}
        alt="CSO of FingeRate giving speech"
      />
    </li>
    <li class="bg-slate-700 overflow-hidden rounded-lg col-span-2">
      <Image
        loading="eager"
        class="object-cover md:object-[0_63%] h-full w-full"
        src={img6}
        alt="Group photo of FingeRate team members, partners and investors on a hiking trip"
      />
    </li>
    <li class="bg-slate-700 overflow-hidden rounded-lg">
      <Image
        loading="eager"
        class="object-cover w-full h-full"
        src={img7}
        alt="FingeRate team members on SIGNIS world congress 2022"
      />
    </li>
  </ul>
</section>
