---
import Apple from '../components/DownloadBtn/Apple.astro';
import Google from '../components/DownloadBtn/Google.astro';
import Layout from '../layouts/Layout.astro';
import phone from '../assets/app/phone.webp';
import phones from '../assets/app/phones.webp';
import phoneWithMSOT from '../assets/app/phone_with_msot.webp';
import { NAV_LINKS } from '../constants';
import BtnLink from '../components/BtnLink.astro';
---

<Layout title='FingeRate App'>
  <section class='mx-auto grid min-h-[70vh] max-w-screen-xl place-items-center px-2 py-6 text-center' id='app'>
    <div
      class='grid h-full justify-items-center md:grid-cols-[auto_auto] md:place-items-center md:gap-12 md:text-right'
    >
      <picture class='md:order-2'>
        <source media='(max-width: 768px)' srcset={phone.src} />
        <img
          src={phones.src}
          width={phones.width}
          height={phones.height}
          alt='A phone with a FingeRate App demo'
          class='block h-[350px] object-contain md:order-2 md:mr-24 md:h-[500px] md:w-fit'
        />
      </picture>
      <div>
        <h1 class='brand-text text-3xl font-bold leading-loose drop-shadow-[0_0_8px_#000]'>FingeRate App</h1>
        <p class='md:max-w-[45ch]'>
          Earn rewards simply by answering surveys with FingeRate App, the innovative survey application based on the
          metaverse. Join the first-of-its-kind platform now. Available on both Android and IOS.
        </p>
        <div class='mt-8 flex items-center justify-center gap-4 md:justify-end'>
          <Google />
          <Apple />
        </div>
      </div>
    </div>
  </section>

  <section class='bg-slate-950/80 px-2 py-12 text-center' id='benefits'>
    <div class='mx-auto grid max-w-screen-xl gap-8 sm:gap-2 md:grid-cols-3'>
      <div class='p-2'>
        <strong class='block text-lg uppercase'>Easy</strong>
        <p class='text-sm'>Get started right away by downloading the app and taking surveys!</p>
      </div>
      <div class='p-2'>
        <strong class='block text-lg uppercase'>Get Rewards</strong>
        <p class='text-sm'>
          Completing surveys has never been easier with the opportunity to earn rewards for each one!
        </p>
      </div>
      <div class='p-2'>
        <strong class='block text-lg uppercase'>Personalize your Experience</strong>
        <p class='text-sm'>
          Make your avatar truly your own by customizing its style and appearance to stand out from the rest!
        </p>
      </div>
    </div>
  </section>
  <section class='mx-auto grid max-w-screen-xl md:grid-cols-2 lg:px-2'>
    <img
      class='h-full object-cover shadow-md lg:rounded-lg'
      src={phoneWithMSOT.src}
      alt='Person holding phone with Metaverse FingeRate Bot on screen'
      width={phoneWithMSOT.width}
      height={phoneWithMSOT.height}
      loading='lazy'
    />
    <div class='self-center bg-slate-950/80 p-6 sm:p-12 lg:-ml-16 lg:rounded-lg'>
      <h2 class='brand-text text-2xl font-bold'>One App. One&nbsp;Ecosystem</h2>
      <p class='mt-4'>
        By enabling users to design surveys, collect data, participate, and receive incentives, the FingeRate platform
        relieves the burden associated with survey-taking and captures genuine participant sentiments in real-time.
      </p>

      <BtnLink href={NAV_LINKS.TOKEN.href} text={NAV_LINKS.TOKEN.name} />
    </div>
  </section>
</Layout>
