---
import { Image } from 'astro:assets'
import Collapse from '../Collapse.astro'
import img1 from '@/assets/home/coupon-1.webp'
import img2 from '@/assets/home/coupon-2.webp'
import img3 from '@/assets/home/coupon-3.jpg'
import img4 from '@/assets/home/coupon-4.jpg'
---

<section id="how-it-works" class="container mx-auto">
  <h2>How FingeRate App Works</h2>
  <div class="grid sm:grid-cols-2" id="steps">
    <ol
      class="space-y-12 isolate relative before:w-1 before:absolute before:top-0 before:left-3.5 before:h-full before:bg-intelligentBlue before:-z-10 before:rounded-full"
    >
      {
        [
          ['Sign up', 'Create an account and add additional information to earn extra in-app points!'],
          ['Find Virtual Bots', 'Explore the world to find Virtual Bots with active surveys! They are everywhere!'],
          [
            'Take Quick Surveys',
            'Take surveys and answer questions to earn SoM! Not only it’s easy but it only takes a few minutes every day!',
          ],
          [
            'Cash Out Your Rewards',
            'Choose the perfect reward just for you directly on the marketplace: we’ve got what you want',
          ],
        ].map(([title, content], i) => (
          <li class="flex items-start gap-4">
            <div class="rounded-full size-8 bg-intelligentBlue text-white grid place-items-center text-center text-xl font-bold shrink-0">
              {i + 1}
            </div>
            <Collapse checked={i == 0} {title} {content} />
          </li>
        ))
      }
    </ol>
    <div class="grid *:[grid-area:1/1/1/1] items-start justify-items-center max-sm:-order-1">
      <Image src={img1} alt="" />
      <Image src={img2} alt="" />
      <Image src={img3} alt="" />
      <Image src={img4} alt="" />
    </div>
  </div>
</section>

<style>
  #steps img {
    transition: all 0.3s;
    opacity: 0;
  }

  #steps:has(li:nth-of-type(1) input:checked) img:nth-of-type(1) {
    opacity: 1;
  }
  #steps:has(li:nth-of-type(2) input:checked) img:nth-of-type(2) {
    opacity: 1;
  }
  #steps:has(li:nth-of-type(3) input:checked) img:nth-of-type(3) {
    opacity: 1;
  }
  #steps:has(li:nth-of-type(4) input:checked) img:nth-of-type(4) {
    opacity: 1;
  }
</style>
