---
import coupon1 from '@/assets/home/coupon-1.webp'
import coupon2 from '@/assets/home/coupon-2.webp'
import coupon3 from '@/assets/home/coupon-3.jpg'
import coupon4 from '@/assets/home/coupon-4.jpg'
import phoneEn from '@/assets/home/phone-screen-main-en.png'
import phoneKo from '@/assets/home/phone-screen-main-ko.png'
import sotModal from '@/assets/home/sot-modal.png'
import Apple from '@/components/DownloadBtn/Apple.astro'
import Google from '@/components/DownloadBtn/Google.astro'
import QR from '@/components/DownloadBtn/QR.astro'
import { Image } from 'astro:assets'
import { Trans } from 'astro-i18next/components'
import i18next, { t } from 'i18next'
import Share from '../DownloadBtn/Share.astro'
---

<section
  class="mx-auto grid min-h-[75vh] md:min-h-[70vh] max-w-screen-xl items-center relative justify-items-center gap-4 px-2 md:grid-cols-2"
  id="hero"
>
  <div class="relative isolate animate-fadeIn md:order-2">
    <div class="absolute w-full h-full motion-safe:animate-bob motion-safe:[animation-duration:8s]">
      <div
        class:list={[
          '[animation-delay:0s]',
          'animate-blob  mix-blend-overlay blur-2xl absolute top-1/4 -left-1/4 w-full aspect-square rounded-full bg-softFire/50',
        ]}
      >
      </div>
      <div
        class:list={[
          '[animation-delay:4s]',
          'animate-blob  mix-blend-overlay blur-2xl absolute top-0 -right-1/4 w-full aspect-square rounded-full bg-neonBlue/50',
        ]}
      >
      </div>
      <div
        class:list={[
          '[animation-delay:2s]',
          'animate-blob  mix-blend-overlay blur-2xl absolute bottom-0 -right-1/4 w-full aspect-square rounded-full bg-intelligentBlue/50',
        ]}
      >
      </div>
    </div>
    <div
      data-tilt-animation
      class="relative [transform-style:preserve-3d] [transform:perspective(5000px)_rotateY(var(--rotateY))_rotateX(var(--rotateX))]"
    >
      <div class="relative [transform-style:preserve-3d]">
        <Image
          src={i18next.language === 'ko' ? phoneKo : phoneEn}
          alt="Phone with a FingeRate App demo"
          class="block h-[350px] w-fit object-contain drop-shadow-md md:order-2 md:h-[500px]"
          loading={'eager'}
        />
        <Image
          src={sotModal}
          alt="Virtual FingeRate Bot"
          class="absolute left-1/2 top-[43%] h-[100px] object-contain drop-shadow-md [translate:-50%_-50%_20px] motion-safe:animate-bob motion-safe:[animation-duration:3s] md:order-2 md:h-[150px] md:w-fit"
          loading={'eager'}
        />
      </div>
      <div
        class="absolute left-[-50%] top-[4%] grid aspect-[3.375/2.125] w-[65%] grid-rows-[1fr_auto] gap-2 rounded-lg bg-blue-400 bg-brandGradient p-4 text-center shadow-lg ring-white transition [transform:translateZ(30px)] hover:ring-4 md:left-[-25%] group"
      >
        <div
          class="absolute bg-intelligentBlue flex gap-2 items-center px-2 md:px-4 py-2 shadow-md rounded-full top-0 left-0 -translate-x-1/4 -translate-y-1/2 group-hover:ring-4 ring-white transition"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-5 h-5"
            ><path d="M21 12V7H5a2 2 0 0 1 0-4h14v4"></path><path d="M3 5v14a2 2 0 0 0 2 2h16v-5"></path><path
              d="M18 12a2 2 0 0 0 0 4h4v-4Z"></path></svg
          >
          <span class="hidden md:inline text-sm font-medium">{t('home.hero.app-ui.wallet')}</span>
        </div>
        <div class="grid place-items-center font-bold text-sm md:text-base">
          {new Intl.NumberFormat(i18next.language).format(2798)} SoM
        </div>
        <p class="justify-self-end text-xs">1 SoM = $0.1</p>
      </div>
      <ul
        class="absolute -right-[50%] top-[30%] [transform:translateZ(-30px)] flex gap-2 transition-all hover:[translate:0] md:-right-[105%] md:[translate:-30%] text-xs *:w-[120px]"
      >
        {
          i18next.language === 'ko' && (
            <li class="transition hover:-translate-y-2">
              <article class="h-full flex flex-col overflow-hidden bg-white text-deepSpace rounded-xl">
                <Image
                  src={coupon1}
                  loading={'eager'}
                  alt="Olive Young logo"
                  class="aspect-video w-full object-cover"
                />
                <div class="grow p-2">
                  <b>{t('home.hero.app-ui.coupon-1-title')}</b>
                </div>
                <footer class="bg-lime-200 p-1 text-center text-lime-950">{t('home.hero.app-ui.discount')}</footer>
              </article>
            </li>
          )
        }
        <li class="transition hover:-translate-y-2">
          <article class="h-full flex flex-col overflow-hidden bg-white text-deepSpace rounded-xl">
            <Image src={coupon2} loading={'eager'} alt="Starbucks logo" class="aspect-video w-full object-cover" />
            <div class="grow p-2">
              <b>{t('home.hero.app-ui.coupon-2-title')}</b>
            </div>
            <footer class="bg-green-200 p-1 text-center text-green-950">
              {t('home.hero.app-ui.coupon')}
            </footer>
          </article>
        </li>
        {
          i18next.language !== 'ko' && (
            <li class="transition hover:-translate-y-2">
              <article class="h-full flex flex-col overflow-hidden bg-white text-deepSpace rounded-xl">
                <Image src={coupon3} loading="eager" alt="Amazon logo" class="aspect-video w-full object-cover" />
                <div class="grow p-2">
                  <b>{t('home.hero.app-ui.coupon-3-title')}</b>
                </div>
                <footer class="bg-orange-200 p-1 text-center text-orange-950">{t('home.hero.app-ui.gift-card')}</footer>
              </article>
            </li>
          )
        }
      </ul>
      <div class="absolute bottom-[-2.5%] left-[-40%] [transform:translateZ(20px)] md:bottom-[15%] w-[120px]">
        <article class="h-full flex flex-col overflow-hidden bg-white text-deepSpace rounded-xl text-xs">
          <Image src={coupon4} loading="eager" alt="Subway logo" class="aspect-video w-full object-cover" />
          <div class="grow p-2">
            <b>{t('home.hero.app-ui.coupon-4-title')}</b>
          </div>
          <footer class="bg-yellow-200 p-1 text-center text-yellow-950">
            {t('home.hero.app-ui.coupon')}
          </footer>
        </article>
      </div>
    </div>
  </div>
  <div class="relative z-10 text-center md:text-left">
    <div class="h-[clamp(1rem,8.5vw,3.9rem)] overflow-hidden md:h-[clamp(1rem,4.4vw,3.2rem)]">
      <h1 class="sr-only">Survey × Metaverse = FingeRate</h1>
      <div class="text-[clamp(1.1rem,5.5vw,2.5rem)] font-bold md:text-[clamp(1.1rem,2.9vw,2.3rem)]">
        <Trans i18nKey="home.hero.h1">
          Survey ×
          <span class="inline-grid text-center animate-stack">
            <span>Metaverse</span>
            <span>Avatar</span>
            <span>Business</span>
            <span>Rewards</span>
            <span>Satisfaction</span>
            <span>LBS</span>
            <span>Simplicity</span>
            <span>Metaverse</span>
          </span>
          = FingeRate
        </Trans>
      </div>
    </div>
    <p class="mx-auto mt-4 max-w-[70ch] tracking-wide sm:text-xl md:mx-0 md:mt-8">
      {t('home.hero.p')}
    </p>
    <div
      class="mt-8 flex mx-auto max-w-screen-sm w-full items-center flex-wrap justify-center gap-2 md:gap-4 md:mt-12 md:justify-start"
    >
      <Google />
      <Apple />
      <QR />
      <Share />
    </div>
  </div>
</section>

<script>
  if (!window.matchMedia('(pointer: coarse)').matches) {
    const $tiltEl = document.querySelector('[data-tilt-animation]') as HTMLDivElement

    document.addEventListener('mousemove', ({ clientX, clientY }) => {
      const { x, y, width, height } = $tiltEl.parentElement!.getBoundingClientRect()

      const imgMiddleX = x + width / 2
      const imgMiddleY = y + height / 2

      const offsetX = ((clientX - imgMiddleX) / window.innerWidth) * 25
      const offsetY = Math.min(((clientY - imgMiddleY) / window.innerHeight) * 15, 15)

      $tiltEl.style.setProperty('--rotateX', `${-1 * offsetY + 5}deg`)
      $tiltEl.style.setProperty('--rotateY', `${offsetX - 5}deg`)
    })
  }
</script>
