---
import { SOCIAL_LINKS as S_L, TELEGRAM_KO } from '@/constants'
import ig from '@/assets/social/IG.svg'
import lin from '@/assets/social/IN.svg'
import x from '@/assets/social/X.svg'
import fb from '@/assets/social/FB.svg'
import tg from '@/assets/social/TG.svg'
import md from '@/assets/social/MD.svg'
import i18next from 'i18next'

const links = [
  [S_L.INSTAGRAM.href, S_L.INSTAGRAM.name, ig],
  [S_L.LINKEDIN.href, S_L.LINKEDIN.name, lin],
  [S_L.X.href, S_L.X.name, x],
  [S_L.FACEBOOK.href, S_L.FACEBOOK.name, fb],
  [S_L.MEDIUM.href, S_L.MEDIUM.name, md],
  [i18next.language === 'ko' ? TELEGRAM_KO : S_L.TELEGRAM.href, S_L.TELEGRAM.name, tg],
] as const
---

<ul class="flex gap-4 sm:ml-auto">
  {
    Object.values(links).map(([href, name, file]) => (
      <li class="rounded-full ring-offset-black transition hover:ring-2 hover:ring-white hover:ring-offset-1">
        <a class="rounded-full" href={href} target="_blank" rel="noopener noreferrer">
          <img
            class="w-8"
            loading="lazy"
            decoding="async"
            src={file.src}
            width={file.width}
            height={file.height}
            alt={`${name} logo`}
          />
          <span class="sr-only">{`link to FingeRate's ${name}`}</span>
        </a>
      </li>
    ))
  }
</ul>
