---
import tg from '@/assets/social/TG.svg'
import network from '@/assets/token/network.png'
import socials from '@/assets/token/socials.png'
import { SOCIAL_LINKS, TELEGRAM_KO } from '@/constants'
import { Image } from 'astro:assets'
import i18next, { t } from 'i18next'
import { formatNumber } from './Hero.astro'
---

<section class="mx-auto max-w-screen-lg p-2 space-y-16 md:space-y-24">
  <div data-scroll-animation class="grid items-center gap-8 md:grid-cols-2">
    <Image src={network} alt="MSOT network illustration" />
    <div class="text-xl text-cyberLilac">
      <div class="space-y-4">
        <h2 class="text-4xl font-bold text-white" set:html={t('token.about.section-1.h2')} />
        <p>{t('token.about.section-1.p-1')}</p>
        <p>{t('token.about.section-1.p-2')}</p>
      </div>
      <div class="flex flex-wrap just gap-x-12 mt-12 items-center">
        <dl class="flex gap-12">
          <div class="flex flex-col-reverse gap-2">
            <dt class="text-sm">{t('token.hero.quantity')}</dt>
            <dd class="font-bold text-4xl text-white">{formatNumber(1_800_000_000)}</dd>
          </div>
          <div class="flex flex-col-reverse gap-2">
            <dt class="text-sm">{t('token.about.section-1.stat')}</dt>
            <dd class="font-bold text-4xl text-white">+{formatNumber(30_000, { notation: 'standard' })}</dd>
          </div>
        </dl>
        <a
          class="rounded-full ring-offset-black transition hover:ring-2 hover:ring-white hover:ring-offset-1"
          href={i18next.language === 'ko' ? TELEGRAM_KO : SOCIAL_LINKS.TELEGRAM.href}
          target="_blank"
          rel="noopener noreferrer"
          title="Join Telegram group!"
        >
          <img
            class="w-12"
            loading="lazy"
            decoding="async"
            src={tg.src}
            width={tg.width}
            height={tg.height}
            alt={`Telegram logo`}
          />
          <span class="sr-only">{`link to FingeRate's Telegram`}</span>
        </a>
      </div>
    </div>
  </div>
  <div data-scroll-animation class="grid items-center gap-8 md:grid-cols-2">
    <Image class="md:order-2" src={socials} alt="Social medias illustration" />
    <div class="space-y-4 text-xl text-cyberLilac">
      <h2 class="text-4xl font-bold text-white" set:text={t('token.about.section-2.h2')} />
      <p>
        {t('token.about.section-2.p-1')}
      </p>
      <p>
        {t('token.about.section-2.p-2')}
      </p>
    </div>
  </div>
</section>
