---
import { t } from 'i18next';
---

<section data-scroll-animation class="max-w-screen-xl mx-auto p-2" id="roadmap">
  <h2 class="text-center font-bold text-4xl mb-4">{t('token.roadmap.h2')}</h2>
  <p class="text-center mx-auto max-w-[80ch]">
    {t('token.roadmap.p')}
  </p>
  <div
    class="mt-12 grid grid-cols-[auto_1fr] grid-rows-[repeat(5,auto)] lg:grid-rows-[auto_auto] lg:grid-cols-5 items-start gap-4 before:row-span-full before:bg-brandGradient before:h-full before:w-2 before:rounded-full lg:before:row-span-1 lg:before:col-span-full lg:before:w-full lg:before:h-2"
  >
    <div
      class="bg-slate-950/80 rounded-lg px-8 py-6 relative before:absolute before:w-4 before:h-4 before:rounded-full before:bg-cyberLilac before:border-2 before:border-cyberLilac before:-left-7 before:top-8 lg:before:left-1/2 lg:before:-translate-x-1/2 lg:before:-top-7"
    >
      <div class="lg:text-center">
        <h3 class="font-bold text-2xl brand-text">2021</h3>
      </div>
      <ul class="list-disc mt-2 space-y-2 text-sm text-cyberLilac">
        {(t('token.roadmap.2021', { returnObjects: true }) as string[]).map((i) => <li>{i}</li>)}
      </ul>
    </div>
    <div
      class="bg-slate-950/80 rounded-lg px-8 py-6 relative before:absolute before:w-4 before:h-4 before:rounded-full before:bg-cyberLilac before:border-2 before:border-cyberLilac before:-left-7 before:top-8 lg:before:left-1/2 lg:before:-translate-x-1/2 lg:before:-top-7"
    >
      <div class="lg:text-center">
        <h3 class="font-bold text-2xl brand-text">2022</h3>
      </div>
      <ul class="list-disc mt-2 space-y-2 text-sm text-cyberLilac">
        {(t('token.roadmap.2022', { returnObjects: true }) as string[]).map((i) => <li>{i}</li>)}
      </ul>
    </div>
    <div
      class="bg-slate-950/80 rounded-lg px-8 py-6 relative before:absolute before:w-4 before:h-4 before:rounded-full before:bg-cyberLilac before:border-2 before:border-cyberLilac before:-left-7 before:top-8 lg:before:left-1/2 lg:before:-translate-x-1/2 lg:before:-top-7"
    >
      <div class="lg:text-center">
        <h3 class="font-bold text-2xl brand-text">2023</h3>
      </div>
      <ul class="list-disc mt-2 space-y-2 text-sm text-cyberLilac">
        {(t('token.roadmap.2023', { returnObjects: true }) as string[]).map((i) => <li>{i}</li>)}
      </ul>
    </div>
    <div
      class="bg-slate-950/80 rounded-lg px-8 py-6 relative before:absolute before:w-4 before:h-4 before:rounded-full before:bg-intelligentBlue before:border-4 before:border-cyberLilac before:-left-7 before:top-8 lg:before:left-1/2 lg:before:-translate-x-1/2 lg:before:-top-7"
    >
      <div class="lg:text-center">
        <h3 class="font-bold text-2xl brand-text">2024</h3>
      </div>
      <ul class="list-disc mt-2 space-y-2 text-sm text-cyberLilac">
        {(t('token.roadmap.2024', { returnObjects: true }) as string[]).map((i) => <li>{i}</li>)}
      </ul>
    </div>
    <div
      class="bg-slate-950/80 rounded-lg px-8 py-6 relative before:absolute before:w-4 before:h-4 before:rounded-full before:border-2 before:border-dashed before:border-cyberLilac before:-left-7 before:top-8 lg:before:left-1/2 lg:before:-translate-x-1/2 lg:before:-top-7"
    >
      <div class="lg:text-center">
        <h3 class="font-bold text-2xl brand-text">2025</h3>
      </div>
      <ul class="list-disc mt-2 space-y-2 text-sm text-cyberLilac">
        {(t('token.roadmap.2025', { returnObjects: true }) as string[]).map((i) => <li>{i}</li>)}
      </ul>
    </div>
  </div>
</section>
